body {
    font-family: 'Arial', sans-serif; /* Or any other modern font */
    background-color: #f8f9fa; /* Light gray background */
}

button {
    border-radius: 5px; /* Smooth button corners */
    padding: 10px 20px;
    font-size: 1.1rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for card elements */
}

.table th, .table td {
    font-size: 1rem; /* Consistent table font size */
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1; /* Subtle hover effect for table rows */
}

.icon-letter {
    height: 1em;  /* Match the height of the font */
    width: auto;  /* Maintain the aspect ratio */
    vertical-align: middle;  /* Align the icon vertically with the text */
}